@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
:root {
    --title-font-size: 3.3rem;
    --title-padding: 5vh;

    --selection-menu-margin: 5vh;
    --selection-menu-font-size: 1.8rem;
    --selection-item-margin: 1vh;
    --selection-item-border-radius: 5px;
    --selection-item-padding: 0.3em 0.5em;
    --selection-button-color: red;
    --selection-selected-button-color: rgb(255, 172, 172);    
    --selection-button-focus-color: black;

    --vs-text-color: red;
    
    --input-background: grey;
    --input-border: black;
    --input-font-color: black;
    
    --button-background: green;
    --button-hover-background: rgb(156, 182, 156);
    --button-font-size: 2.1rem;

    --grid-block-size: 25vw;
    --grid-block-background: #E5E7EB;
    --grid-gap: 0.2rem;
}


body {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.title {
    text-align: center;
    font-size: var(--title-font-size);
    padding: var(--title-padding) 0px;
}

.selection-menu {
    width:50vw;
    margin-top: var(--selection-menu-margin);
    font-size: var(--selection-menu-font-size);
    display: flex;
    flex-direction: column;
    transition: 0.6s;
}



.selection-menu.disabled {
    display: block;
    opacity: 0%;
}

.selection-menu.disabled .start-game {
    transition: 0.3s;
}

.selection-menu.disabled .start-game {
    cursor: pointer;
    background-color: var(--button-hover-background);
    transform: translateY(3vh);
}



.selection-menu input {
    box-sizing: border-box;
    font-size: var(--selection-menu-font-size);
    border-radius: var(--selection-item-border-radius);
    box-shadow: none;
    padding: var(--selection-item-padding);
    margin-top: var(--selection-item-margin);
    background-color: var(--input-background);
    border: none;
    font-family: inherit;
    color: var(--input-font-color);
    width: 100%;
}

.selection-menu .vs-text {
    text-align: center;
    color: var(--vs-text-color);
    padding: var(--title-padding) 0px;
    font-size: 3.5rem;
}

.selection-menu .p2-button, .ai-button {
    background-color: var(--selection-button-color);
    padding: var(--selection-item-padding);
    border-radius: var(--selection-item-border-radius);
}

.selection-menu .selected-button {
    background-color: var(--selection-selected-button-color);
    /* border: 2px solid var(--input-border); */
}

.p2-name {
    transition: 0.2s;
}

.p2-name.disabled {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 0px;
    opacity: 0%;
    overflow: hidden;
}

.selection-menu .ai-button {
    margin-top: var(--selection-item-margin);
}

.selection-menu .start-game, .restart-game {
    font-size: var(--button-font-size);
    border-radius: var(--selection-item-border-radius);
    box-shadow: none;
    box-sizing: border-box;
    padding: var(--selection-item-padding);
    margin-top: var(--title-padding);
    background-color: var(--button-background);
    border: none;
    font-family: inherit;
    font-weight: 700;
    color: var(--input-font-color);
    width: 100%;
}

.selection-menu .start-game:hover {
    cursor: pointer;
    background-color: var(--button-hover-background);
}





.game-grid {
    box-sizing: border-box;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: var(--grid-gap);
    margin-top: var(--selection-menu-margin);
}

.grid-enable {
    animation-name: grid-appear;
    animation-duration: 1s;
}

@keyframes grid-appear{
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
}

.grid-block {
    box-sizing: border-box;
    background-color: var(--grid-block-background);
    width: var(--grid-block-size);
    height: var(--grid-block-size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--grid-block-size) * 0.5);
}

.winner-announce {
    margin-top: var(--selection-menu-margin);
    font-size: var(--selection-menu-font-size);
}

.restart-game {
    margin-top: auto;
    margin-bottom: 5vh;

    box-sizing: border-box;
    width: 6em;
}

.restart-game:hover {
    cursor: pointer;
}

.disabled {
    display: none;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }