:root {
    --grid-block-size: 10vw;
    --grid-block-background: #E5E7EB;
    --grid-gap: 0.2rem;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 2.5em;
    padding: 1em;
}

.game-grid {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: var(--grid-gap);
}

.grid-block {
    box-sizing: border-box;
    background-color: var(--grid-block-background);
    width: var(--grid-block-size);
    height: var(--grid-block-size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--grid-block-size) * 0.5);
}

.disabled {
    display: none;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }